@model IEnumerable<GPP_Web.DTOs.BudgetPart.BudgetPartResponseDTO>

@{
    ViewData["Title"] = "Partidas Presupuestarias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/budgetpart.css">

<!-- Botón de retroceso con imagen pequeña -->
<div class="back-button">
    <a href="javascript:history.back()" class="btn btn-link">
        <img src="~/images/icons/back.png" alt="Volver" class="back-icon"> Volver
    </a>
</div>

<!-- Título de la página -->
<h1 class="text-center dashboard-title">Partidas Presupuestarias</h1>

<!-- Tabla de partidas presupuestarias -->
<div class="table-responsive-container">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Nombre de Partida</th>
                <th>Presupuesto Asignado</th>
                <th>Presupuesto Restante</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PartName)</td>
                    <td>₡@Html.DisplayFor(modelItem => item.AllocatedAmount)</td>
                    <td>₡@Html.DisplayFor(modelItem => item.RemainingAmount)</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton_@item.BudgetPartId" data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton_@item.BudgetPartId">
                                <li><a class="dropdown-item" href="@Url.Action("Create", "Expense", new { budgetPartId = item.BudgetPartId })">Agregar Gasto</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("GetExpensesByBudgetPart", "Expense", new { budgetPartId = item.BudgetPartId })">Ver Registro</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("TransferAmount", "BudgetPart", new { budgetPartId = item.BudgetPartId })">Transferir Montos</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
